@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 49, 121, 1) 14%, rgba(0, 212, 255, 1) 100%);
}

.box,
h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #E8DFCA; */
    width: auto;
    height: 100px;
}

.container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    background-color: #AEBDCA;
    margin: 0 auto;
    margin-top: 2%;
    border: solid 3px #537394;
}

.container>div {
    border: solid 3px #47617a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

#output{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
    font-size: 25px;
    color: #fff;
    font-family: Poppins;
}

#refresh{
    display: flex;
    justify-content: center;
    align-items: center;
}

#refresh, button{
    padding: 10px 24px;
    cursor: pointer;
}

button :hover{
    background-color: #47617a;
}

